* {
    box-sizing: border-box;
    
  }
  
body {
    margin: 0;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #EAE7DC, #D8C3A5, #E98074);
    background-repeat: no-repeat;
    background-size: auto;
}

footer{
    padding: 10px;
    background-color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.no-results{
    opacity: 0;
}

nav{
    margin: 0;
    padding: 10px;
    background-color: #EAE7DC;
    color: black;
    position: top;
    top: 0;
}

select{
    font-size: 14px;
}

.favorites-content li h4{
    font-size: 22px;
    margin: 10px;
}

.fav-recs>button{
    margin: 5px;
    padding: 10px;
    background-color: #D8C3A5;
    color: black;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 12px;
    border: none;
}

nav h1{
    margin: 10px;
    font-size: 18px;
}

img{
    margin: 10px auto;
}

h5{
    margin: 0px;
    line-height: 20px;
}

h2{
    font-size: 14px;
}

input{
    margin-top: 10px;
}

#search:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.container {
    padding-top: 2rem;
    min-height: 100vh;
    color: rgb(175, 31, 21);
    width: 100%;
}
  
.hidden {
    display: none;
} 

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.container h1{
    font-size: 28px;
    margin: .5rem auto;
    width: 75%;
    padding: .5rem;
    border-radius: 1rem;
    color: BLack;
    font-weight: bolder;
}

form{
    color: black;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    font-family: "Varela Round";
    background-color: #D8C3A5;
    color: black;
    margin: 20px auto;
    list-style-type: none;
    width: 80%;
    border: 3pt #E98074 inset;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

li p{
    padding: 1rem;
    font-size: 14px;
}

li h4{
    text-align: center;
}

iframe{
    margin: 5px auto;
    border: 4pt inset #E85A4F;
    height: 220px;
    width: 220px;
}

button, input{
    font-family: "Varela Round";
    font-weight: bold;
    margin: 5px auto;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    transition: all 0.4s ease 0s;
    text-decoration: none;
    text-transform: uppercase;
}

input{
    font-weight: normal;
    margin-top: 15px;
}

p{
    font-size: 12px;
}

button:hover, input {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.all-details{
    border: none;
    padding: 0;
    color: blue;
    text-decoration: underline;
    background-color: #D8C3A5;
}

.hide-all{
    border: none;
    padding: 0;
    background-color: white;
    font-style: italic;
    color: blue;
    text-decoration: underline;
    background-color: #D8C3A5;
}

.no-results{
    color: black;
    font-size: 14px;
    line-height: 34px;
}

@media screen and (min-width: 540px){
    nav h1{
        position: absolute;
        left: 0;
        font-size: 18px;
    }

    .container h1{
        font-weight: bolder;
        font-size: 32px;
    }

    .container h2{
        font-size: 18px;
    }

    .fav-recs>button{
        position: absolute;
        right: 0;
        font-size: 18px;
    }



   .favorites-content{
       padding-top: 2.5rem;
   }

    li{
        margin: 20px auto;
        padding: 10px;
        width: 75%;
    }

    select{
        margin: 5px;
        padding: 5px;
        border: none;
        font-size: 16px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        -webkit-appearance: button;
        appearance: button;
        outline: none;
    }

    input{
        margin: 10px;
    }

    li p{  
        margin: 0 auto;
        font-size: 20px;
        line-height: 22px;
    }

    h4{
        font-size: 28px;
    }

    button{
        font-size: 14px;
    }
}

@media screen and (min-width: 720px){
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
    }

    li{
        margin: 20px auto;
        padding: 10px;
        width: 40%;
    }

    p{
        font-size: 16px;
        line-height: 22px;
    }

    h4{
        font-size: 24px;
    }

    button{
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px){
    

    .container h1{
        font-size: 60px;
    }

    .container h2{
        font-size: 30px;
    }

    form{
        font-size: 20px;
    }

    input{
        font-size: 20px;
    }

    ul{
        justify-content: space-evenly;
    }

    li{
        margin: 20px;
        width: 20%;
    }

    li h4{
        font-size: 28px;
    }

}
